*__pycache__*
*/.ipynb_checkpoints/*
*.py[cod]
.vscode/

scripts/sbatch_scripts
human_eval/sentiment/old_comparisons
human_eval/sentiment/*batch_results.csv
human_eval/sentiment/pplm_comparison
human_eval/toxicity/*batch_results.csv
datasets
generations/sentiment
generations/toxicity
models
prompts/nontoxic_prompts-10k.jsonl
prompts/sentiment_prompts-10k
slurm
prompts/nontoxic_prompts-10k
notebooks/style_transfer_playground.ipynb
notebooks/temp_pplm_eval.ipynb
notebooks/utils.ipynb
notebooks/reviz_illustrations.ipynb